*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}
nav{
    background-color:black;
    width: 100%;
    height: 4.5rem; 
    display: flex;  
    align-items: center;
}
.nav-logo{
    margin: 1rem;
    width: 6rem;
}

.nav-logo:hover{
    border: 1px solid white;
}

.location{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    padding: 0.5rem;
    font-size: smaller;
}

.location:hover{
    border: 1px solid white;
}

.Searchbar{
   display: flex;
   height: 3rem;
   width: 50%;
   border-radius: 0.5rem;
}

.Searchbar>input{
    width: 70%;
    padding: 0.5rem;
}

.Searchbar>button{
    height: 3rem;
    width: 10%;
    background-color: orange;
    border: none;
    font-size: 1.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.Searchbar>select{
    background-color: lightgray;
    color: gray;
    width: 20%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}

.Searchbar>select:hover{
    background-color: gray;
    color: black;
}

.language{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flag {
    margin: 1rem;
    width: 24px;
    height: auto;
    margin-right: 8px;
  }
  #language-select {
    padding: 5px;
    font-size: 14px;
  }

.Account,.orders{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    padding: 1rem;
    font-size: smaller;
}
.Account:hover{
    border: 1px solid white;
}

.orders:hover{
    border: 1px solid white;
}
.cart-icon{
    margin: 1rem;
    width: 24px;
    height: auto;
    margin-right: 8px;
}
.cart-icon:hover{
    border: 1px solid white;
}

.navbar{
    background-color:rgba(53, 53, 63, 0.986);
    color: white;
    justify-content: space-between;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.5em;
}

.content-box{
    width: 100%;
    height: 2.5rem; 
    display:inline-flex;  
    align-items:center;
    justify-content:space-between;
}
.content-box>div{
    justify-content:flex-end;
    text-align:start;
    padding:0.5rem;
}
.menu{
    margin: 1rem;
    width: 24px;
    height: auto;
    margin-right: 8px;
}

.content-box>div:hover{
    border: 1px solid white;
}
.box{
    background-color: #fff;
    height: 420px;
    width: 300px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
    unicode-bidi: isolate;
}


.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart img {
  width: 30px;
  margin-right: 5px;
}

.cart span {
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background: white;
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card-grid img {
  width: 100%;
  height: 80px;
  border-radius: 6px;
}

.card-grid p {
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}

.card a {
  display: block;
  margin-top: 12px;
  color: #007185;
  text-decoration: none;
  font-size: 14px;
}

.card a:hover {
  text-decoration: underline;
}




.product-slider {
  width: 100%;
  background: white;
  padding: 10px 20px;
  position: relative;
}

.product-slider h2 {
  font-size: 23px;
  margin-bottom: 10px;
  margin-left: 10px;
}


.slider-images {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}



.slider-images::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 20px;
}

.slider-images img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* footer */
.footer-one{
    background-color: #454747;
    height: 50px;
    width: 100vw;
    padding: 1rem;
    justify-content:space-around;
    text-align: center;
    color: white;
}
.footer-two{
    background-color: #232f3e;
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
li:hover{
      text-decoration: underline;
}
.footer-con{
    display: flex;
}
.conatine-1{
    margin-top: 50px;
    list-style-type: none;
    font-family: arial;
    
}
li{
    margin-top: 10px;
    color: #DDDDDD;
}
.list-one{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}
.footer-three{
    display: flex;
    color:  #cccccc;
    background-color: #232f3e;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}
.laguage-logo{
    border: none;
    border: 1px solid black;
    border-color: #cccccc;
    width: 150px;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 80px;
    border-radius: 2px;
    /* padding: 15px; */
}
.english{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin-left: 5px;
    text-align: center;
}
.india{
    display: flex;
    border: 1px solid ;
    margin-left: 20px;
    margin-bottom: 14px;
    padding: 5px;
    width: 90px;
    text-align: center;
    border-radius: 2px;
}
.footer-four{
    background-color: #131A22;
    width: 100vw;
    height: 300px;
    
}
.conatine-last{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}
.last-two{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    font-size: 15px;
    margin-left: 40px;
}
ol{
    list-style-type: none;
    justify-content: space-around;
}
.sale{
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    /* display: flex; */
}
.last-box{
    color: #DDDDDD;

}

@media screen and (max-width:768px){

    nav,
    .navbar,
    .container,
    .footer,
    .footer-three,
    .footer-four,
    .product-slider{
      width: 125%;
    }
    .footer-one,
    .footer-two{
      width: 100%;
    }
   
    .card-container {
      width: 980px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
      justify-content: center;
    }
    #CARD{
      display: none;
    }
  } 

  @media screen and (max-width:768px){

    nav,
    .navbar,
    .container,
    .footer,
    .footer-three,
    .footer-four,
    .product-slider{
      width: 225%;
    }
    .footer-one,
    .footer-two{
      width: 100%;
    }
   
    .card-container {
      width: 980px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
      justify-content: center;
    }
    #CARD{
      display: none;
    }
  } 